#nav {
  background-image: url("../img/Autumn.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  border-bottom: none;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  text-align: center;
}

#nav-position {
  text-align: center;
  font-family: 'Lobster', cursive;
  position: center;
  text-align: center;
  margin-left: 520px;
}


.nav {
     padding-right: 50px;
    margin-bottom: 0;
    list-style: none;
}

#Welcome {
  text-align: center;
  font-family: 'Lobster', cursive;
  position: center;
  text-align: center;
  padding-top: 200px;
}

.welcome #nav-position {
  white-space: nowrap;
overflow: hidden;
width: 30em;
animation: type2 10s steps(60, end);
}

.welcome p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em #FFF; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .5em; /* Adjust as needed */
    animation:
      typing 10s steps(60),
      blink-caret 5s step-end infinite;
      font-size: 50px;
      color: #fff;
}

@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #FFF }
  100% { border-color: #FFF; }
  animation: blink 2s infinite;
}



body {
  background-image: url("../img/wood.jpg");

}

.img-thumbnail1 {
    height:300px;
    width: 300px;
    transition: 12s;
}

img:hover {
    opacity: 0.6;
    filter: alpha(opacity=50);
    transition: 12s;
    transition: ease-in-out;
    transform: rotate(1080deg);
}

#sites {
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 50px;
  font-size: 30px;
}

.col-sm-3 col-md-3 {
text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  outline-color: #FFF;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
  border: none;
  color: #FFF;
}


.nav-tabs {
    border-bottom: transparent;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

a:focus, a:hover {
    color: #FFF;
    text-decoration: underline;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #FFF;

}


a {
    color: #FFF;
    text-decoration: none;
}

  #img {
    text-align: center;
    margin-left: 200px;
    margin-top: 75px;
  }

h2 {
  text-align: center;
  margin-right: 200px;
  margin-top: 175px;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 55px;
}

#one {
  margin-left: 200px;
}

#two {
    margin-left: 200px;
    padding-top: 200px;
}

/*footer starts*/
#contact {width:100%; height:100%; margin 0 auto; background: #DDD; }

.container {width:960px; height:auto; margin: 0 auto; padding: 0px 0;}

#contact .container form input,
#contact .container form textarea {
	width:97.4%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
	border:2px solid #dd4545;
	color:#999;}

#contact .container form textarea {
	height:150px;}

#contact .container form .submit {
	width:100%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#dd4545;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #b43838;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .form-group form .submit {
	color:#FFF;
	border:2px solid #dd4545;
	background: #b43838;
	cursor:pointer;}

#contact .form-group form .required {
	color:#b43838;}




footer {
background-color: rgba(81, 81,81, .4);
padding-top: 75px;
}

.fa {
    padding: 0px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/*a {
     color: #000000;
    text-decoration: none;
}*/

#kayla {
  margin-left: 50px;
  border-radius: 50%;
}


/*media icons*/
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding-left: 600px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-github {
  text-align: center;
}






.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #3399ff;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #99ffcc;
}

.social .fa-envelope-o:hover { /* round envelope-o icon*/
    background: red;
}













/*Media icons end*/

/*footer ends*/
/*Modal Styling*/


/*Modal STyling ends*/

/*Media Quieries*/
/*@media screen and (max-width: 1000px) {
    #nav {
        width: 100%;
    }

    nav-tabs {
        width: 12.5%;
    }

    #nav-position {
        width: 100%;
    }
}*/
